@import "./mixin";
@import "./variable";
@import "./index.scss";

.titlebar {
  text-align: center;
  margin-bottom: 2rem;
  .titlebar__text {
    font-size: $baseFontSize;
    font-weight: 600;
    color: $primaryColor;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .titlebar__title {
    font-size: $largeFontSize;
    font-weight: 700;
    line-height: 3.15rem;
    margin: 7px 0px;
    color: $titleColor;
    @include responsiveByBreakPoint(phone) {
      font-size: $mobileFontSize;
      line-height: 2rem;
    }
  }
  .titlebar__desc {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    color: $textColor;
  }
}
