$primaryColor: #5a49f8;
$topHeaderColor: #646464;
$whiteColor: #ffffff;
$titleColor: #1d2124;
$textColor: #646464;
$baseFontSize: 1rem;
$mediumFontSize: 1.25rem;
$largeFontSize: 2.8rem;
$titleFontSize: 2.25rem;
$sectionPadding: 3.75rem;
$mobileSectionPadding: 1.2rem;
$mobileFontSize: 1.6rem;
