@import "./mixin";
@import "./variable";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======================== CSS DEFAULT STYLE======================== */

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-full {
  width: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* ======================== COMMON COMPONENT CSS STYLE ======================== */
.btn {
  font-weight: 500;
  border-radius: 6px;
  padding: 14px 22px;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 700;
  border: none;
}
