@import "./styles/mixin";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primaryColor: #5a49f8;
$topHeaderColor: #646464;
$whiteColor: #ffffff;
$titleColor: #1d2124;
$textColor: #646464;
$baseFontSize: 1rem;
$mediumFontSize: 1.25rem;
$largeFontSize: 2.8rem;
$titleFontSize: 2.25rem;
$sectionPadding: 3.75rem;
$mobileSectionPadding: 1.2rem;
$mobileFontSize: 1.6rem;

/* ======================== CSS DEFAULT STYLE======================== */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-full {
  width: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* ======================== COMMON COMPONENT CSS STYLE ======================== */
.btn {
  font-weight: 500;
  border-radius: 6px;
  padding: 14px 22px;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 700;
  border: none;
}

.titlebar {
  text-align: center;
  margin-bottom: 2rem;
  .titlebar__text {
    font-size: $baseFontSize;
    font-weight: 600;
    color: $primaryColor;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .titlebar__title {
    font-size: $largeFontSize;
    font-weight: 700;
    line-height: 3.15rem;
    margin: 7px 0px;
    color: $titleColor;
    @include responsiveByBreakPoint(phone) {
      font-size: $mobileFontSize;
      line-height: 2rem;
    }
  }
  .titlebar__desc {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    color: $textColor;
  }
}

/* ======================== NAVBAR CSS STYLE ======================== */

.header {
  background: $primaryColor;
  padding: 10px 0px;
  top: 0;
  position: fixed;
  z-index: 9999;
}

.sticky {
  background: $primaryColor;
  color: $whiteColor;
  margin-top: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar {
  @include flex(center, space-between);
  .navbar__logo {
    @include responsiveByBreakPoint(phone) {
      width: 40%;
      img {
        width: 100%;
      }
    }
  }
  .navbar__hambarger {
    font-size: 25px;
    cursor: pointer;
    display: block;
    color: $whiteColor;

    @include responsiveByBreakPoint(desktop) {
      display: none;
    }
  }
}

.navbar__navbar-list {
  visibility: hidden;
  position: absolute;
  @include flex($direction: column, $gap: 0.8rem);
  background: $primaryColor;
  padding-block: 15px;
  top: 72px;
  left: 0px;
  text-align: left;
  align-items: flex-start;
  width: 100%;
  font-size: 1rem;
  @include responsiveByBreakPoint(tablet) {
    top: 95px;
  }
  @include responsiveByBreakPoint(desktop) {
    visibility: visible;
    position: static;
    @include flex(center, center, $gap: 0, $direction: row);
  }
  list-style-type: none;
  .navbar__item {
    padding: 0 1rem;
    font-weight: 500;
    a {
      color: $whiteColor;
      text-decoration: none;
      position: relative;
      width: fit-content;
      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 0;
        background-color: $whiteColor;
        bottom: -10px;
        left: 0;
        transition: all ease-in 0.2s;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }
}

.navbar__mobile-nav {
  @include responsiveByBreakPoint(phone) {
    visibility: visible;
  }

  @include responsiveByBreakPoint(tablet) {
    visibility: visible;
  }
}

.navbar__search-tab {
  display: none;
  @include responsiveByBreakPoint(desktop) {
    display: block;
    @include flex(center, space-between, $gap: 10px);
  }
  color: $whiteColor;
  .navbar__search-icon {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .navbar__quote-btn {
    @extend .btn;
    white-space: nowrap;
    background: transparent;
    transition: all ease 0.3s;
    color: $whiteColor;
    border: 3px solid $whiteColor;
    &:hover {
      background-color: $whiteColor;
      color: black;
    }
  }
}

/* ======================== HERO SECTION CSS STYLE ======================== */
.hero-area {
  background: linear-gradient(to right, #4d36e5, #6c1be0);
  color: $whiteColor;
  height: 80vh;
  padding: 6rem 1rem 0px;
  @include responsiveByBreakPoint(phone) {
    min-height: 100vh;
    height: 100%;
  }
  overflow: hidden;
  .hero-area__container {
    @include flex(center, space-between, $gap: 2.5rem);
    @include responsiveByBreakPoint(phone) {
      @include flex($direction: column, $gap: 1.25rem);
    }
    padding: 2rem 0;
    .hero-area__content {
      width: 60%;
      @include responsiveByBreakPoint(phone) {
        order: 2;
        padding: 1rem;
        width: 100%;
      }
      @include flex($direction: column, $gap: 2rem);
      .hero-area__text {
        letter-spacing: 5px;
        font-size: 18px;
      }
      .hero-area__title {
        font-size: $largeFontSize;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 4rem;
        @include responsiveByBreakPoint(phone) {
          font-size: 2.5rem;
        }
      }
      .hero-area__desc {
        @include typography(1rem, 400);
        line-height: 1.8rem;
      }
      .hero-area__btn {
        @extend .btn;
        background: transparent;
        transition: all ease 0.3s;
        color: $whiteColor;
        border: 3px solid $whiteColor;
        background-color: $whiteColor;
        color: black;
      }
      .hero-area__play-btn {
        @extend .btn;
        background: transparent;
        margin-left: 0.8rem;
        transition: all ease 0.3s;
        color: $whiteColor;
        border: 3px solid $whiteColor;
        &:hover {
          background-color: $whiteColor;
          color: black;
        }
      }
    }
    .hero-area__img {
      width: 40%;
      @include responsiveByBreakPoint(phone) {
        width: 100%;
        order: 1;
      }
      img {
        height: auto;
        width: auto;
        @include responsiveByBreakPoint(phone) {
          height: 100%;
          width: 100%;
        }

        //add hero section image animation
        @include keyframes(movingImage) {
          0% {
            transform: translateY(0px) translateX(0px);
          }
          50% {
            transform: translateY(-20px) translateX(20px);
          }
          100% {
            transform: translateY(0px) translateX(0px);
          }
        }
        @include animate(movingImage, 5s, linear, infinite);
      }
    }
  }
}

/* ======================== ABOUT US SECTION CSS STYLE ======================== */
.about-us {
  background: rgb(248, 248, 255);
  padding: $sectionPadding 0px;
  @include responsiveByBreakPoint(phone) {
    padding: $mobileSectionPadding 0px;
  }
}

.about-us__container {
  @include flex(center, space-between, $gap: 1.25rem);
  @include responsiveByBreakPoint(phone) {
    @include flex($direction: column, $gap: 2rem);
  }
  .about-us__img {
    width: 50%;
    @include responsiveByBreakPoint(phone) {
      width: 100%;
    }
  }
  .about-us__img img {
    width: 100%;
  }

  .about-us__content {
    width: 50%;
    @include responsiveByBreakPoint(phone) {
      width: 100%;
    }
  }

  .about-us__text {
    font-size: 15px;
    font-weight: 600;
    color: $primaryColor;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .about-us__title {
    font-size: $largeFontSize;
    font-weight: 700;
    line-height: 3rem;
    margin: 0.62rem 0;
    color: $titleColor;
    @include responsiveByBreakPoint(phone) {
      font-size: $mobileFontSize;
      line-height: 2rem;
    }
  }
  .about-us__desc {
    font-size: $baseFontSize;
    font-weight: 400;
    line-height: 1.8rem;
    color: $textColor;
    margin: 1rem 0;
  }
  .about-us__btn {
    @include flex(center, space-between, $gap: 5px);
    @extend .btn;
    color: $whiteColor;
    background: linear-gradient(to right, #4d36e5, #6c1be0);
    font-size: 1rem;
  }
}

/* ======================== FEATURE/SERVICES SECTION CSS STYLE ======================== */

.services {
  background: rgb(249, 251, 254);
  padding: $sectionPadding 0px;
  @include responsiveByBreakPoint(phone) {
    padding: $mobileSectionPadding 0px;
  }
  .services__card-container {
    @include grid($columns: repeat(1, 1fr), $gap: 1rem);
    // single service card design
    @include responsiveByBreakPoint(tablet) {
      @include grid($columns: repeat(2, 1fr), $gap: 1rem);
    }
    @include responsiveByBreakPoint(desktop) {
      @include grid($columns: repeat(4, 1fr), $gap: 1rem);
    }
    .services__card {
      min-height: 400px;

      text-align: center;
      padding: 45px 35px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 5px;
      position: relative;
      z-index: 1;
      &::before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 0.8%;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;
        transition: all ease 0.5s;
        background-color: red;
      }
      &:hover::before {
        height: 100%;
      }
      &:hover .services__card-icon {
        background-color: $whiteColor;
      }
      &:hover .services__card-title {
        color: $whiteColor;
      }
      &:hover .services__card-desc {
        color: $whiteColor;
      }
      &:hover .services__card-link {
        color: $whiteColor;
      }
      .services__card-icon {
        @include flex(center, center);
        background: rgba(255, 0, 0, 0.295);
        color: red;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        font-size: $largeFontSize;
        margin: 0 auto 1.2rem auto;
        transition: all ease 0.5s;
      }
      .services__card-title {
        font-size: 1.3rem;
        line-height: 34px;
        color: #111;
        letter-spacing: 0.6px;
        margin-bottom: 10px;
        transition: all ease 0.5s;
      }
      .services__card-desc {
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 1.8rem;
        color: $textColor;
        transition: all ease 0.5s;
      }
      .services__card-link {
        @include flex(
          $alignItems: center,
          $justifyContent: center,
          $gap: 0.4rem
        );
        transition: all ease 0.5s;
        font-size: 1.2rem;
        font-weight: 600;
        color: $primaryColor;
      }
      &:nth-child(2) {
        &::before {
          background-color: blue;
        }
        .services__card-icon {
          background-color: rgba(0, 0, 255, 0.295);
        }
        &:hover .services__card-icon {
          background-color: $whiteColor;
        }
      }
      &:nth-child(3) {
        &::before {
          background-color: #00c3ff;
        }
        .services__card-icon {
          background-color: rgba(0, 195, 255, 0.295);
        }
        &:hover .services__card-icon {
          background-color: $whiteColor;
        }
      }
      &:nth-child(4) {
        &::before {
          background-color: #ffc048;
        }
        .services__card-icon {
          background-color: rgba(255, 191, 72, 0.295);
        }
        &:hover .services__card-icon {
          background-color: $whiteColor;
        }
      }
    }
  }
}

/* ======================== TEAM SECTION CSS STYLE ======================== */
.team {
  padding: $sectionPadding 0px;
  @include responsiveByBreakPoint(phone) {
    padding: $mobileSectionPadding 0px;
  }
  .team__wrapper {
    @include grid($columns: repeat(1, 1fr), $gap: 1rem);
    @include responsiveByBreakPoint(tablet) {
      @include grid($columns: repeat(2, 1fr), $gap: 1rem);
    }
    @include responsiveByBreakPoint(desktop) {
      @include grid($columns: repeat(4, 1fr), $gap: 1rem);
    }
    .team__card {
      position: relative;
      // flex-basis: 100%;
      // @include responsiveByBreakPoint(tablet) {
      //   flex-basis: 45%;
      // }
      // @include responsiveByBreakPoint(desktop) {
      //   flex-basis: 30%;
      // }
      img {
        border-radius: 5px;
        margin-bottom: 15px;
        position: relative;
        width: 100%;
      }
      .team__overlay {
        position: absolute;
        width: 100%;
        height: 85%;
        @include responsiveByBreakPoint(tablet) {
          height: 85%;
        }
        @include responsiveByBreakPoint(desktop) {
          height: 81%;
        }
        background: $primaryColor;
        top: 0;
        right: 0;
        border-radius: 5px;
        opacity: 0;
        transition: all ease-in-out 0.5s;
        ul {
          @include flex($alignItems: center, $justifyContent: center);
          height: 100%;
          li {
            list-style-type: none;
            display: none;
            transition: all ease-in-out 1s;
            a {
              @include flex($alignItems: center, $justifyContent: center);
              width: 45px;
              height: 45px;
              margin: 10px;
              background: $whiteColor;
              border-radius: 50%;
              color: #111;
              transition: all ease-in-out 0.3s;
              visibility: hidden;
              font-size: 1.4rem;
            }
            &:hover a {
              color: $whiteColor;
              background: blueviolet;
            }
          }
        }
      }
      .team__identity {
        text-align: center;
      }

      // add hover effect in the team member section
      &:hover .team__overlay {
        opacity: 0.8;
        ul li {
          display: block;
          // sass mixin to create animation keyframes
          @include keyframes(movingIcon) {
            0% {
              transform: translateY(30px);
            }
            100% {
              transform: translateY(0);
            }
          }
          &:nth-child(1) {
            @include animate(movingIcon, 1s, linear, 1, $animationDelay: 0.3s);
          }
          &:nth-child(2) {
            @include animate(movingIcon, 1s, linear, 1, $animationDelay: 0.5s);
          }
          &:nth-child(3) {
            @include animate(movingIcon, 1s, linear, 1, $animationDelay: 0.7s);
          }
          &:nth-child(4) {
            @include animate(movingIcon, 1s, linear, 1, $animationDelay: 0.9s);
          }
          a {
            visibility: visible;
          }
        }
      }
    }
  }
}
/* ======================== PORTFOLIO SECTION CSS STYLE ======================== */
.portfolio {
  padding: $sectionPadding 0px;
  @include responsiveByBreakPoint(phone) {
    padding: $mobileSectionPadding 0px;
  }
  .portfolio__titlebar {
    background: $primaryColor;
    padding: 120px 0 280px 0;
    text-align: center;
    .portfolio__titlebar-text {
      font-size: $largeFontSize;
      font-weight: 700;
      line-height: 3.15rem;
      margin: 7px 0px;
      color: $whiteColor;
      text-transform: uppercase;
      letter-spacing: 2px;
      @include responsiveByBreakPoint(phone) {
        font-size: $mobileFontSize;
        line-height: 1.2rem;
      }
    }
    .portfolio__titlebar-desc {
      margin: 2rem auto;
      font-size: 1rem;
      font-weight: 400;
      line-height: 2rem;
      color: $whiteColor;
      width: 100%;
      @include responsiveByBreakPoint(tablet) {
        width: 50%;
      }
    }
  }
}
// portfolio image gallary design
.portfolio__container {
  padding-bottom: $sectionPadding;
  .portfolio__gallary {
    margin-top: -20rem;
    @include grid($columns: repeat(1, 1fr), $gap: 1.4rem);

    @include responsiveByBreakPoint(tablet) {
      @include grid($columns: repeat(2, 1fr), $gap: 1.4rem);
    }

    @include responsiveByBreakPoint(desktop) {
      @include grid($columns: repeat(4, 1fr), $gap: 1.4rem);
    }

    .portfolio__img-wrap {
      position: relative;
      height: 100%;
      width: 100%;
      cursor: pointer;

      &::before {
        content: "";
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        border-radius: 4px;
        position: absolute;
        z-index: 2;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-in;
      }
      &::after {
        content: "";
        background-color: #412cf7;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        visibility: hidden;
        border-radius: 4px;
        transform: scale(0.9);
        transition: all 0.3s ease-in-out;
      }
      &:hover::before {
        opacity: 1;
        visibility: visible;
      }
      &:hover::after {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: all 0.5s ease-in-out;
        transition-delay: 0.3s;
      }
      .portfolio__img {
        height: 100%;
        width: 100%;
        border-radius: 5px;
      }
      .portfolio__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        text-align: center;
        visibility: hidden;
        z-index: 3;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        h2 {
          white-space: nowrap;
          font-size: $mediumFontSize;
        }
        svg {
          font-size: 2rem;
          color: #412cf7;
        }
      }
      &:hover .portfolio__content {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .portfolio__btn {
    @extend .btn;
    @include flex(center, space-between, $gap: 5px);
    color: $whiteColor;
    background: linear-gradient(to right, #4d36e5, #6c1be0);
    font-size: 1rem;
    margin: 3rem auto 0px auto;
  }
}

/* ======================== TESTIMONIAL SECTION CSS STYLE ======================== */
.testimonial {
  padding: $sectionPadding 0px;
  @include responsiveByBreakPoint(phone) {
    padding: $mobileSectionPadding 0px;
  }
  .testimonial__container {
    position: relative;
    .testimonial__slider-container {
      .testimonial__slider {
        background: #f9f8ff;
        padding: 3.75rem 2.5rem 1.875rem;
        border-radius: 5px;
        .testimonial__slider-content {
          position: relative;
          @include flex($alignItems: center, $justifyContent: space-between);
          @include responsiveByBreakPoint(phone) {
            @include flex(
              $alignItems: flex-start,
              $justifyContent: space-between,
              $direction: column,
              $gap: 10px
            );
          }
          margin-bottom: 1.5rem;
          .testimonial__slider-user {
            @include flex($alignItems: center, $gap: 0.7rem);
            h2 {
              font-size: $mediumFontSize;
              color: $titleColor;
            }
            p {
              color: $textColor;
            }
          }
          .testimonial__slider-star {
            @include flex($alignItems: center, $gap: 5px);
            color: orange;
            @include responsiveByBreakPoint(phone) {
              margin-left: 5rem;
            }
          }
        }
        .testimonial__slider-review {
          color: $textColor;
          line-height: 2rem;
        }

        @include responsiveByBreakPoint(phone) {
          padding: 1.75rem 1rem;
        }
      }
    }
    .testimonial__btn {
      position: absolute;
      opacity: 0;
      width: 100%;
      top: 40%;
      transition: all ease-in 0.2s;
      @include flex($alignItems: center, $justifyContent: space-between);
      .testimonial__prev-btn,
      .testimonial__next-btn {
        @include flex($alignItems: center, $justifyContent: center);
        height: 50px;
        cursor: pointer;
        width: 50px;
        color: $textColor;
        border-radius: 50%;
        background: rgb(234, 238, 242);
        border: 1px solid rgb(217, 217, 217);
        transition: all ease-in 0.2s;

        &:hover {
          background-color: $primaryColor;
          color: $whiteColor;
        }
      }
    }
    &:hover .testimonial__btn,
    .testimonial__prev-btn {
      opacity: 1;
      z-index: 1;
    }
  }
}
/* ======================== CONTACT-US SECTION CSS STYLE ======================== */

.contact-us {
  background: rgb(248, 248, 255);
  padding: $sectionPadding 0px;
  @include responsiveByBreakPoint(phone) {
    padding: $mobileSectionPadding 0px;
  }
}

.contact-us__container {
  .contact-us__content {
    @include flex(
      $alignItems: center,
      $justifyContent: space-between,
      $gap: 1.4rem
    );

    @include responsiveByBreakPoint(phone) {
      @include flex($direction: column);
    }
    .contact-us__form {
      width: 55%;
      @include responsiveByBreakPoint(phone) {
        width: 100%;
        order: 2;
      }
      @include flex(
        $alignItems: center,
        $justifyContent: space-between,
        $gap: 1rem,
        $direction: column
      );
      .contact-us__name {
        width: 100%;
        @include flex(
          $alignItems: center,
          $justifyContent: space-between,
          $gap: 0.4rem
        );
        @include responsiveByBreakPoint(phone) {
          @include flex(
            $alignItems: center,
            $justifyContent: space-between,
            $gap: 1rem,
            $direction: column
          );
        }
      }
      input,
      textarea {
        width: 100%;
        background: #fff;
        border-radius: 4px;
        border: 1px solid #ced4da;
        outline: none;
        padding: 0.75rem;
        font-size: $baseFontSize;
        color: $textColor;
      }
      .contact-us__submit-btn {
        @extend .btn;
        background: linear-gradient(to right, #4d36e5, #6c1be0);
        font-size: 0.8rem;
        color: $whiteColor;
        transition: all ease-in-out 0.2s;
        &:hover {
          background: linear-gradient(to right #6c1be0, #4d36e5);
        }
      }
    }
    .contact-us__image {
      @include responsiveByBreakPoint(phone) {
        order: 1;
      }
      img {
        width: 100%;
      }
    }
  }
}

/* ======================== TRUSTED-BY SECTION CSS STYLE ======================== */

.trusted-by {
  padding: $sectionPadding 0px;
  @include responsiveByBreakPoint(phone) {
    padding: $mobileSectionPadding 0px;
  }
  .trusted-by__container {
    .trusted-by__content {
      @include grid(
        $columns: repeat(1, 1fr),
        $alignItems: center,
        $justifyContent: center,
        $gap: 2.5rem
      );
      @include responsiveByBreakPoint(tablet) {
        @include grid($columns: repeat(2, 1fr), $gap: 1rem);
      }
      @include responsiveByBreakPoint(desktop) {
        @include grid($columns: repeat(4, 1fr), $gap: 1rem);
      }
      img {
        filter: grayscale(1);
        transition: all ease-in-out 0.2s;
        width: 100%;
        padding: 1rem;
        cursor: pointer;
        &:hover {
          filter: grayscale(0);
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          border-radius: 5px;
        }
        @include responsiveByBreakPoint(phone) {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
}

/* ======================== FOOTER SECTION CSS STYLE ======================== 
*/

.footer {
  background: rgb(248, 248, 255);
  padding: $sectionPadding 0px;
  @include responsiveByBreakPoint(phone) {
    padding: $mobileSectionPadding 0px;
  }

  .footer__content {
    @include grid($columns: repeat(1, 1fr), $gap: 1rem);
    margin: 0 auto;
    @include responsiveByBreakPoint(tablet) {
      @include grid($columns: repeat(2, 1fr), $gap: 1rem);
    }
    @include responsiveByBreakPoint(desktop) {
      @include grid($columns: repeat(4, 1fr), $gap: 1rem);
    }
    h2 {
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 34px;
      color: $titleColor;
      margin-bottom: 25px;
    }
    .footer__social-link {
      @include responsiveByBreakPoint(phone) {
        text-align: center;
      }
      img {
        margin-bottom: 1rem;
      }
      p {
        margin-bottom: 20px;
        font-size: 1rem;
        line-height: 30px;
        color: $textColor;
      }
      ul {
        @include flex($alignItems: center, $gap: 2rem);
        @include responsiveByBreakPoint(phone) {
          @include flex($justifyContent: center);
        }
        li a {
          color: $textColor;
          font-size: 1.5rem;
          transition: all ease-in-out 0.2s;
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
    .footer__services,
    .footer__important-link {
      @include responsiveByBreakPoint(phone) {
        text-align: center;
      }
      li {
        margin-bottom: 1.4rem;
        transition: all ease-in-out 0.2s;
        a {
          @include flex($alignItems: center, $gap: 0.5rem);
          @include responsiveByBreakPoint(phone) {
            @include flex($justifyContent: center);
          }
          color: $textColor;
        }
        &:hover a {
          color: $primaryColor;
        }
      }
    }
    .footer__contact-info {
      @include responsiveByBreakPoint(phone) {
        text-align: center;
      }
      p {
        margin-bottom: 20px;
        font-size: 1rem;
        line-height: 30px;
        color: $textColor;
      }
      li {
        @include flex($alignItems: center, $gap: 0.5rem);
        @include responsiveByBreakPoint(phone) {
          text-align: center;
          @include flex($justifyContent: center);
        }
        margin-bottom: 1rem;
        color: $textColor;
        span {
          color: $primaryColor;
        }
      }
    }
  }
}

.footer__finish-line {
  background-color: $whiteColor;
  padding: 3rem 0;
  color: $textColor;
  text-align: center;
  @include responsiveByBreakPoint(phone) {
    padding-inline: 3rem;
    line-height: 1.5rem;
  }
}
